.div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid red;
  -webkit-transition: width 2s;
  transition: width 2s; }

.box {
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 12s;
          transition-duration: 12s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 15s;
          transition-delay: 15s; }
