.book_panel {
    height: 499px;
    margin-bottom: 30px;
    *position: relative;
    overflow: hidden;
}

.book_panel .left {
    width: 910px;
    height: 499px;
    float: left;
}

.book_panel .left_head {
    +overflow: hidden;
    width: 910px;
    height: 44px;
    border-bottom: 2px solid #000;
}

.book_panel .left_head .links_con {
    float: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 44px;
}

.book_panel .left_head .links_con .dot {
    font-size: 16px;
    position: relative;
    top: -3px;
}

.book_panel .left_head .titles_con {
    float: right;
    border-right: 1px solid #e6e6e6;
}

.book_panel .left_head .title {
    float: left;
    display: block;
    font-size: 14px;
    text-align: center;
    width: 114px;
    height: 43px;
    line-height: 43px;
    border: 1px solid #e6e6e6;
    border-bottom-width: 0;
    border-right-width: 0;
    background: #f5f5f5;
}

.book_panel .left_head .active,
.book_panel .left_head .title:hover {
    position: relative;
    border: 2px solid #000;
    width: 111px;
    line-height: 42px;
    border-bottom-width: 0;
    padding-bottom: 1px;
    margin-bottom: -2px;
    color: #525252;
    background: #fff;
    font-weight: bold;
}

.book_panel .left_tab_contents {
    padding-top: 10px;
    width: 910px;
    height: 443px;
}

.book_panel .left_tab_content {
    /* ie6下包不住子元素 */
    +position: relative;
    height: 442px;
    width: 909px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}

.book_panel .left_west_nav {
    float: left;
    position: relative;
    width: 238px;
    height: 442px;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    overflow: hidden;
}

.book_panel .left_west_nav .tags {
    position: absolute;
    width: 238px;
    bottom: 0;
    left: 0;
    /*background: #fff;*/
    background: url(../imgs/home_bg_1509.png) 0 0;
}

.book_panel .left_west_nav .tags li {
    display: block;
    float: left;
    width: 63px;
    padding-left: 16px;
    height: 28px;
    line-height: 28px;
}

.book_panel .left_baner {
    float: left;
    position: relative;
    width: 335px;
    height: 220px;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    overflow: hidden;
}

.book_panel .left_baner .banners {
    position: relative;
    width: 335px;
    height: 220px;
}

.book_panel .left_baner .banners_wrap {
    width: 1340px;
}

.book_panel .left_baner .banner {
    float: left;
    display: block;
    width: 335px;
}

.book_panel .left_baner .button,
.book_panel .left_baner .arrow_bg,
.book_panel .left_baner .ico_arrow {
    width: 30px;
    height: 43px;
}

.book_panel .left_baner .button {
    top: 75px;
}

.book_panel .left_baner .prev .ico_arrow {
    background-position: 0 -83px;
}

.book_panel .left_baner .next .ico_arrow {
    background-position: -36px -83px;
}

.book_panel .left_baner .circle_con {
    position: absolute;
    bottom: 6px;
    width: 100%;
    /*清除 inline-block 3px*/
    font-size: 0;
    /*ie6 10像素过高*/
    +overflow: hidden;
    height: 3px;
    text-align: center;
}

.book_panel .left_baner .circle_con li {
    display: inline-block;
    /*兼容ie7*/
    *zoom: 1;
    *display: inline;
    width: 10px;
    height: 3px;
    margin: 0 2px;
    color: #fff;
    background: #ffffff;
}

.book_panel .left_product .photo_wrap {
    display: block;
}

.book_panel .left_product .photo {
    margin: 7px auto 0;
    width: 150px;
    height: 150px;
}

.book_panel .left_product .title {
    height: 19px;
    line-height: 19px;
    width: 150px;
    margin: 4px auto 0;
    overflow: hidden;
}

.book_panel .left_tab_contents a:hover {
    color: #ff2832;
    text-decoration: underline;
}

.book_panel .left_product .price {
    width: 150px;
    margin: 0 auto;
    height: 18px;
    line-height: 18px;
}

.book_panel .left_product .price .new {
    color: #ff2832;
    font: 14px Arial;
    margin-right: 10px;
}

.book_panel .left_product .price .old {
    font: 12px Arial;
    color: #969696;
    text-decoration: line-through;
}

.book_panel .left_baner .circle_con .active {
    background: #5e5e5e;
}

.book_panel .left_product {
    float: left;
    width: 166px;
    height: 220px;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    overflow: hidden;
}

.book_panel .pl1 {
    padding-left: 1px;
}

.book_panel .right {
    float: right;
    width: 278px;
    height: 497px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
}

.book_panel .right_head {
    height: 47px;
}

.book_panel .right_head .title {
    float: left;
    display: block;
    width: 138px;
    height: 46px;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background: #f5f5f5;
    text-align: center;
    color: #464646;
    font: 16px/46px "Microsoft YaHei", Simsun;
}

.book_panel .right_head .active,
.book_panel .right_head .title:hover {
    background: #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.book_panel .right_booklist {
    margin-top: 10px;
}

.book_panel .right_book {
    line-height: 33px;
    /*ie6 7 li 3px bug*/
    *vertical-align: top;
}

.book_panel .right_book .num {
    float: left;
    display: block;
    height: 100%;
    text-align: center;
    color: #ff3228;
    width: 40px;
    font-weight: bold;
    font: 12px/33px Arial;
}

.book_panel .right_book .content {
    float: left;
    width: 238px;
    border-bottom: 1px solid #e5e5e5;
}

.book_panel .right_book .b_title {
    height: 32px;
    font-weight: normal;
    font-size: 12px;
    width: 140px;
    overflow: hidden;
}

.book_panel .right_book .detail {
    height: 117px;
    padding-top: 15px;
    +padding-top: 12px;
    display: none;
}

.book_panel .right_book .photo_wrap {
    float: left;
    width: 90px;
    display: block;
}

.book_panel .right_book .photo {
    width: 90px;
    height: 90px;
}

.book_panel .right_book .detail .d_title {
    display: block;
    color: #966464;
}

.book_panel .right_book .detail .d_desc {
    display: block;
    color: #969696;
}

.book_panel .right_book .detail .desc {
    float: left;
    padding-left: 5px;
    padding-right: 10px;
    width: 133px;
    height: 100px;
    line-height: 20px;
    overflow: hidden;
}

.book_panel .right_booklist .active .b_title {
    display: none;
}

.book_panel .right_booklist .active .detail {
    display: block;
}

.book_panel .right_booklist .active .num {
    color: #ff3228;
    font-weight: bold;
}

.book_panel .right_booklist .last .content {
    border-bottom: 0;
}

.book_panel .right_head a:hover {
    text-decoration: underline;
}

.book_panel .right_booklist a:hover {
    color: #ff2832;
    text-decoration: underline;
}

.book_panel .network_product .photo_wrap {
    display: block;
    width: 166px;
    height: 220px;
}

.book_panel .network_product .photo_wrap img {
    width: 166px;
    height: 220px;
}