/*京东秒杀 模块*/
.buy_now {
    margin-top: 10px;
    height: 305px;
    background: #fff;
}

.buy_now .head {
    position: relative;
    overflow: hidden;
    height: 55px;
    padding-left: 30px;
    padding-right: 21px;
    background: url(../imgs/seckill_hd.png) no-repeat;
}

.buy_now .head .arrow {
    position: absolute;
    left: -4px;
    top: -4px;
    width: 28px;
    height: 28px;
    background: url(../imgs/sprite_index@1x.png) no-repeat -190px -48px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
}

.buy_now .head .title {
    float: left;
    color: #fdffff;
    font-family: fzzhengheis-el-gbregular;
    font-size: 26px;
    font-weight: 400;
    line-height: 55px;
    height: 55px;
}

.buy_now .head .sub_title {
    float: left;
    display: block;
    margin-top: 23px;
    margin-left: 13px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}

.buy_now .head .sub_title .info {
    float: left;
}

.buy_now .head .ico_clock {
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    width: 34px;
    height: 40px;
    background: url(../imgs/sprite_index@1x.png) no-repeat 0 -40px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
}

.buy_now .head .ico_arrow {
    float: left;
    display: block;
    margin-left: 5px;
    background: url(../imgs/sprite_index@1x.png) no-repeat -154px -40px;
    background-size: 218px 188px;
    width: 15px;
    height: 16px;
}

.buy_now .head .time {
    float: right;
    margin-top: 10px;
    width: 268px;
    height: 37px;
    color: #fff;
}

.buy_now .head .time .info {
    float: left;
    height: 28px;
    margin-top: 9px;
    font-size: 14px;
}

.buy_now .head .time .con {
    float: left;
    margin-left: 6px;
    margin-right: 7px;
    width: 129px;
    height: 37px;
}

.buy_now .head .time .num {
    float: left;
    width: 35px;
    height: 37px;
    background: #440106;
    color: #f90013;
    line-height: 37px;
    text-align: center;
    font-size: 24px;
    font-family: Arial;
    font-weight: 700;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.buy_now .head .time .dot_con {
    float: left;
    position: relative;
    width: 12px;
    height: 37px;
}

.buy_now .head .time .dot {
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    /*+overflow: hidden;*/
    +font-size: 0px;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #440106;
}

.buy_now .head .time .dot_up {
    top: 12px;
    left: 4px;
}

.buy_now .head .time .dot_down {
    top: 20px;
    left: 4px;
}

.buy_now .wrap {
    padding: 12px 0 13px;
    height: 225px;
    overflow: hidden;
}

.buy_now .product_wrap {
    float: left;
    width: 1000px;
    overflow: hidden;
    position: relative;
}

.buy_now .product_con {
    width: 6000px;
}

.buy_now .product {
    float: left;
    width: 170px;
    height: 225px;
    padding: 0 14px 0 15px;
    border-right: 1px solid #e7e7e7;
    position: relative;
}

.buy_now .product .photo_con {
     text-align: center;
}

.buy_now .product .photo {
    width: 130px;
    height: 130px;
    margin: 17px 20px;
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    -moz-transition: transform .4s ease, -moz-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease, -moz-transform .4s ease;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.buy_now .product .link {
    display: block;
}

.buy_now .product .title {
    color: #999;
    display: block;
    overflow: hidden;
    font-size: 12px;
    text-align: left;
    height: 32px;
    line-height: 16px;
    word-wrap: break-word;
    word-break: break-all;
}

.buy_now .product .price_con {
    padding: 3px 0;
    height: 25px;
}

.buy_now .product .price_con .price_new {
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
    color: #f10214;
}

.buy_now .product .price_con i {
    font-size: 12px;
    font-weight: 300;
    margin-right: 3px;
    font-family: arial;
}

.buy_now .product .price_con .price_old {
    font-size: 12px;
    color: #999;
}


.buy_now .product .tag_con {
    position: absolute;
    top: 0;
    left: 15px;
    text-align: center;
    background-image: url(../imgs/sprite_index@1x.png);
    background-position: -54px -40px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
    z-index: 1;
}

.buy_now .product .tag {
    font-size: 12px;
    color: #fff;
    line-height: 14px;
    display: inline-block;
    vertical-align: 2px;
    padding-top: 2px;
}

.buy_now .product .link:hover .photo {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.buy_now .product .shadow {
    position: absolute;
    left: 15px;
    top: 130px;
    text-align: center;
    background-image: url(../imgs/sprite_index@1x.png);
    background-position: 0 0;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 170px;
    height: 20px;
}

.buy_now .baner_wrap {
    float: right;
    position: relative;
    width: 180px;
    height: 100%;
    margin: 0 10px 0 0;
    /*ie6 float right margin-right后双边距bug*/
    +display: inline;
}

.buy_now .baner_con {
    width: 100%;
    height: 100%;
}

.buy_now .baner_wrap a,
img {
    display: block;
}

.buy_now .baner_wrap .baner_con img {
    width: 180px;
    height: 225px;
}

.buy_now .baner_wrap .item {
    position: absolute;
    top: 0;
    left: 0;
}

.buy_now .baner_wrap .circle_con {
    position: absolute;
    width: 100%;
    height: 10px;
    /*ie6 10像素过高*/
    +overflow: hidden;
    bottom: 15px;
    z-index: 2;
    font-size: 0;
    text-align: center;
}

.buy_now .baner_wrap .circle {
    display: inline-block;
    /*兼容ie7*/
    *zoom: 1;
    *display: inline;
    width: 10px;
    height: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 3px;
    background: #342a2d;
}

.buy_now .baner_wrap .circle_con .active {
    background: #e01222;
}

.buy_now .product_wrap .control {
    position: absolute;
    display: block;
    z-index: 1;
    top: 50%;
    margin-top: -25px;
    width: 20px;
    height: 50px;
    background: #f1f1f1;
    background: rgba(0, 0, 0, .1);
    line-height: 50px;
    text-align: center;
}

.buy_now .product_wrap .controls .prev {
    left: 7px;
}

.buy_now .product_wrap .controls .next {
    right: 7px;
}