body {
    margin: 0;
    background: #fff;
}

html {
    font-size: 12px;
    color: #666;
    font-family: 'Microsoft YaHei';
}

body,
ul,
li,
ol,
p,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
img,
iframe,
form {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

input[type=text]:focus {
    outline: none;
}

a {
    color: #646464;
    text-decoration: none;
}

img {
    display: block;
    border: 0;
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}

.center {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


#head {
    height: 175px;
    border-bottom: 3px solid #ff2832;
}

#head_north {
    background: #f9f9f9;
    font: 12px 'Hiragino Sans GB', "simsun", "Arial";
    color: #646464;
    height: 35px;
    line-height: 35px;
}

#head_north .area {}

#head_north .area .menu {
    padding: 4px 22px 0 9px;
}

#head_north .area .ico_arrow_down {
    display: block;
    width: 7px;
    height: 4px;
    background: url(../imgs/head_sprite.png) no-repeat -74px -316px;
    vertical-align: middle;
}
#head_north .area .ico_arrow_up {
    display: inline-block;
    width: 7px;
    height: 4px;
    background: url(../imgs/head_sprite.png) no-repeat -74px -332px;
    vertical-align: middle;
}



#head_north .info {}

#head_north .menus li {
    float: left;
    margin-right: 5px;
}

#head_center {
    height: 100px;
}

#head_bottom {
    height: 40px;
    line-height: 40px;
    font: 14px/40px "Microsoft Yahei";
    font-weight: bold;
}

#head_bottom .left {
    width: 180px;
    padding-left: 20px;
    color: #fff;
    background: #ff2832;
}

#head_bottom .titles {
    padding-left: 30px;
}

#head_bottom .title {
    float: left;
    margin-right: 30px;
}

#head_bottom .title a {
    color: #323232;
}

#head_bottom .title a:hover {
    color: #ff2832;
}

#nav {
    height: 488px;
    padding-bottom: 39px;
}

.nav_menus {
    padding-top: 4px;
    width: 200px;
    height: 484px;
}

.nav_menus .menus_con {}

.nav_menus li {
    height: 30px;
    line-height: 30px;
    padding-left: 18px;
    color: #323232;
    font-size: 14px;
}

.nav_menus .active {
    color: #F07828;
    background: #fff;
    font-size: 16px;
    line-height: 30px;
    padding-left: 16px;
    margin: -2px 0;
    border: 2px solid #ff2832;
    border-right: 0;
}

.base_banner {}

.base_banner .button {
    position: absolute;
    display: block;
}

.base_banner .button:hover .arrow_bg {
    opacity: 0.5;
    filter: alpha(opacity=50);
    transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
}

.base_banner .prev {
    left: 0;
}

.base_banner .next {
    right: 0;
}

.base_banner .arrow_bg {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background: #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.base_banner .ico_arrow {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background: url(../imgs/home_sprite_1507.png);
    cursor: pointer;
}

.nav_center {
    width: 796px;
    height: 488px;
    +overflow: hidden;
}

.nav_center .center_banner {
    position: relative;
    height: 326px;
}

.nav_center .center_banner .banners {
    height: 326px;
    overflow: hidden;
}

.nav_center .center_banner .button,
.nav_center .center_banner .arrow_bg,
.nav_center .center_banner .ico_arrow {
    width: 33px;
    height: 70px;
}

.nav_center .center_banner .button {
    top: 122px;
}

.nav_center .center_banner .prev .ico_arrow {
    background-position: 0 -70px;
}

.nav_center .center_banner .next .ico_arrow {
    background-position: -33px -70px;
}


.nav_center .center_banner .circle_con {
    position: absolute;
    bottom: 7px;
    width: 100%;
    /*清除 inline-block 3px*/
    font-size: 0;
    /*ie6 10像素过高*/
    +overflow: hidden;
    height: 20px;
    text-align: center;
}

.nav_center .center_banner .circle_con li {
    display: inline-block;
    /*兼容ie7*/
    *zoom: 1;
    *display: inline;
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0 3px;
    color: #fff;
    background: #646464;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.nav_center .center_banner .circle_con .active {
    background: #ff2832;
}


.nav_center .footer_banner {
    position: relative;
    height: 160px;
    width: 794px;
    padding: 1px;
    background: #e6e6e6;
}

.nav_center .footer_banner .banners {
    position: relative;
    width: 796px;
    height: 160px;
    overflow: hidden;
}


.nav_center .footer_banner .button,
.nav_center .footer_banner .arrow_bg,
.nav_center .footer_banner .ico_arrow {
    width: 30px;
    height: 43px;
}

.nav_center .footer_banner .button {
    top: 65px;
}

.nav_center .footer_banner .prev .ico_arrow {
    background-position: 0 -83px;
}

.nav_center .footer_banner .next .ico_arrow {
    background-position: -36px -83px;
}

.nav_center .footer_banner .item {
    float: left;
    position: relative;
    margin-right: 1px;
}

.nav_center .footer_banner .item:hover .mask {
    opacity: 0;
    filter: alpha(opacity=0);
}

.nav_center .footer_banner .last {
    margin-right: 0px;
    +margin-right: -2px;
}

.nav_center .footer_banner .item img {
    width: 198px;
    height: 160px;
}

.nav_center .footer_banner .item .mask {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 198px;
    height: 160px;
    background-color: #000;
    opacity: 0.04;
    filter: alpha(opacity=4);
    transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
}

.nav_right {
    width: 202px;
    background: #eaecee;
    padding: 1px;
}

.nav_right .ad {
    height: 195px;
}

.nav_right .ad img {
    width: 202px;
    height: 195px;
}

.nav_right .tab {
    height: 171px;
    margin-bottom: 1px;
    overflow: hidden;
}

.nav_right .tab .head {
    height: 28px;
}

.nav_right .tab .head .title {
    display: block;
    float: left;
    width: 99px;
    height: 28px;
    line-height: 28px;
    cursor: default;
    font-size: 14px;
    text-align: center;
    color: #646464;
    text-align: center;
    background: #f0f0f0;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.nav_right .tab .head .active {
    border: 1px solid #fff;
    background: #fff;
}

.nav_right .tab .contents {
    padding-top: 8px;
    height: 135px;
    background: #fff;
}

.nav_right .tab .content {
    height: 135px;
}

.nav_right .tab .contents .title {
    display: block;
    padding-left: 20px;
    background: url(../imgs/home_sprite_1507.png) no-repeat 10px -188px;
    line-height: 25px;
}

.nav_right .tab .contents .title:hover {
    color: #ff2832;
}

.nav_right .right_banner {
    position: relative;
}

.nav_right .right_banner .banners {
    height: 119px;
    width: 202px;
    overflow: hidden;
}

.nav_right .right_banner .banners_wrap {
    width: 606px;
}

.nav_right .right_banner .banner {
    float: left;
    width: 202px;
}

.nav_right .right_banner .button,
.nav_right .right_banner .arrow_bg,
.nav_right .right_banner .ico_arrow {
    width: 30px;
    height: 43px;
}

.nav_right .right_banner .button {
    top: 41px;
}

.nav_right .right_banner .prev .ico_arrow {
    background-position: 0 -83px;
}

.nav_right .right_banner .next .ico_arrow {
    background-position: -36px -83px;
}